<html>
<head>
    <script src="../Statics/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../Statics/stylesheets/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../Statics/stylesheets/fine-uploader-gallery.css">
    <script src="../Statics/javascripts/cookies.js"></script>
    <script src="../Statics/javascripts/fine-uploader/all.fine-uploader/all.fine-uploader.core.js"></script>
    <script src="../Statics/javascripts/fine-uploader/all.fine-uploader/all.fine-uploader.js"></script>
    <title>Chapno</title>
</head>

<body>


</body>



<script>

    
    var Me = {};
    var pageNames = ["feed","profile","settings","home","slideView","newPost","policy"];
    var smallUploader={};
    var originalUploader = {};
    var mediumUploader = {};
    // initial by url parsing
    var currentPage = "";
    var historyPointer = -1;
    var historyList = [];
    var orderName = "";
    // Events.Js

    $(document).ready(function(){
        if( readCookie("X-ACCESS-TOKEN") !==null) {
            getMe();
            setUploaders();
            urlParser(true);
        }
        else {

        }
    });

    // TOP NAV

    function requsetHandler(url, method, input, caller) {
        $.ajax({
            url: url || "/",
            method: method || "GET",
            data: input || {},
            before: function () {
            },
            success: function (res) {
                responseActionHandler(caller, res);
            },
            timeout: function () {
                window.alert("time out");// get from developer
            },
            fail: function () {
                window.alert("failed");
            },
            err: function () {
                window.alert("err");
            }
        });
    }
    // 3.Handlers
    // Request handlers
    // users
    function logout() {
        eraseCookie("KEY");
        eraseCookie("X-ACCESS-TOKEN");
    }
    function login(input) {
        requsetHandler("/login", "POST", input, "loginHandler");
    }
    function getMe(){
        requsetHandler("/api/v1/users/getMe","GET",{},"getMe");
    }
    function loadProfileInfo(hostUserName){
        requsetHandler("/api/v1/users/getHostProfile","POST",{host:hostUserName},"loadProfile");
    }
    function getProfileInfo(){
        requsetHandler("/api/v1/users/getProfileInfo","GET",{},"getProfileInfo");
    }
    function updateProfileInfo(input){
        requsetHandler("/api/v1/users/updateProfileInfo","POST",input,"updateProfileInfo");
    }
    function follow(hostUsername){
        requsetHandler("/api/v1/users/follow","POST",{following:hostUsername},"follow");
    }
    function unfollow(hostUsername){
        requsetHandler("/api/v1/users/unfollow","POST",{following:hostUsername},"unfollow");
    }
    function getPostsByFilter(){
        alert("get posts action");
    }
    // Actions.js
    function responseActionHandler(caller, res) {
        switch (caller) {
            case "loginHandler" : {
                loginResponse(res);
            }break;
            case "getProfile" : {
                placeProfileInfo(res);
            }break;
            case "updateProfileInfo" : {
                updateProfileResponse(res);
            }break;
            case "loadProfile" : {
                loadProfileResponse(res);
            }break;
            case "follow" : {
                followAction(res);
            }break;
            case "unfollow" : {
                unfollowAction(res);
            }break;
            case "getMe" : {
                getMeResponse(res);
            }break;
        }
    }
    function urlParser(writeState){ // --> Page Name --> Username / post Orders / category / #hashtags
        var pageType ="";
        if(window.location.pathname.split("/")[1]){
            pageType = window.location.pathname.split("/")[1].toLowerCase();
        }
        if(pageType === "home" || pageType === "" || pageType === "explore" || pageType === "followings" || pageType === "followers" ||
            pageType === "slideView"|| pageType === "curated" || pageType === "latest" || pageType ==="settings" ||
            pageType === "top" || pageType ==="contact" || pageType==="newPost" || pageType==="policy") {

                if(pageType ==="settings" || pageType==="slideView" || pageType ==="contact" || pageType==="newPost" || pageType==="policy")
                    changePage(pageType,pageType, writeState);// Other Pages
                else
                    changePage("feed",pageType,writeState);// Feed

        }
        else{
            changePage("profile",pageType,writeState);// Profile -->
        }
    }
    // action functions
    function setUploaders() {
        originalUploader = new qq.FineUploader({
            element: document.getElementById("uploadArea"),
            request: {
                endpoint: '/api/v1/upload',
                customHeaders: {
                    size:"Original"
                }
            },
            chunking: {
                enabled: true,
                concurrent: {
                    enabled: false
                },
                success:{
                }
            },
            resume: {
                enabled: true
            },
            retry: {
                enableAuto: true,
                showButton: true
            },
            allowedExtensions: ['gif','jpg','jpeg','png'],
            onSubmit: function(id, fileName){
            },
            onComplete: function(id, fileName, responseJSON){ // Customize the output sent to responseJSON in demo.php
                resetParams();
                switch(responseJSON.ext){
                    case 'gif':
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        break;
                    default:
                        // Do nothing
                        break;
                }
                if(uploader._filesInProgress < 1){
                    window.allert("All files have been uploaded. The page will refresh itself in 10 seconds.");
                    // var t = setTimeout('location.href = location.href;', 10000)
                }
            },
            showCropTool: 1,
            scaling: {
                sizes: [
                    {name: "sss",maxSize: 500},
                    {name: "mmm",maxSize: 1000}
                ]
            },
        });

    }

    function changePage(pageName,pageType,newHistory){

        pushHistory(pageName, window.location.pathname);
        switch (pageName) {
            case "feed" || "home" || "" : {
                // show feed items --> hide Others
                if( pageName !== currentPage ) {
                    $("#postsContainer").addClass("show");
                    if (pageName === "home" || pageName === "") {
                        $("#homeSliders").addClass("show");
                        $("#postsContainer").addClass("show");
                    }
                    // hide elements
                    pageNames = ["settings", "newPost", "slideView", "profileTop", "profileTopSmall", "contact", "policy"];
                    for (var x = 0; x < pageNames.length; x++) {
                        if (pageName === pageNames[x]) {
                            $(`#${pageNames[x]}`).addClass("show");
                        }
                        else {
                            if ($(`#${pageNames[x]}.show`)) {
                                $(`#${pageNames[x]}.show`).removeClass("show");
                            }
                        }
                    }
                }
                // --> Function Calls

            }
                break;
            case "profile": {
                var hostUserName = pageType;
                if( pageName !== currentPage ) {
                    $("#postsContainer").addClass("show");
                    $("#profileTop").addClass("show");
                    pageNames = ["settings", "newPost", "slideView", "homeSliders", "contact", "policy"];
                    for (var x = 0; x < pageNames.length; x++) {
                        if (pageName === pageNames[x]) {
                            $(`#${pageNames[x]}`).addClass("show");
                        }
                        else {
                            if ($(`#${pageNames[x]}.show`)) {
                                $(`#${pageNames[x]}.show`).removeClass("show");
                            }
                        }
                    }
                }
                loadProfileInfo(hostUserName);
                getPostsByFilter(hostUserName);


            }break;
            case "settings" ||"newPost" || "slideView" || "postsContainer" || "contact" : {
                if( pageName !== currentPage ) {
                    var pageNames = ["settings", "newPost", "slideView", "postsContainer", "contact", "policy"];
                    $("#profileTop").addClass("show");
                    for (var x = 0; x < pageNames.length; x++) {
                        if (pageName === pageNames[x]) {
                            $(`#${pageNames[x]}`).addClass("show");
                        }
                        else {
                            if ($(`#${pageNames[x]}.show`)) {
                                $(`#${pageNames[x]}.show`).removeClass("show");
                            }
                        }
                    }
                }


            }break;
        }
    }

    function pushHistory(newPageName,url){
        if (historyPointer === historyList.length) {
            historyList.push({pageName: newPageName, urlData: url , hashtag : window.location.hash});
            currentPage = newPageName;
            historyPointer++;
        }
        else if (historyPointer < historyList.length -1 ){
            for(var x  = historyList.length -1 ; x > historyPointer ; x--){
                historyList.pop();
                if(x === historyPointer + 1){
                    historyList.push({pageName: newPageName, urlData: url ,hashtag : window.location.hash});
                    currentPage = newPageName;
                    historyPointer++;
                }
            }
        }
    }
    function checkForward(){
        if(historyPointer < historyPointer.length -1){
            $("#forwardBtn").show(100);
        }
        else{
            $("#forwardBtn").hide(100);
        }
    }
    function backward(){
        if(historyPointer > 0){
            historyPointer--;
            changePage(historyList[historyPointer].pageName,false);
            window.history.replaceState("","",historyList[historyPointer].urlData+("/" + historyList[historyPointer].hashtag) || "");
        }
        else{
            window.history.back();
        }
    }
    function forward(){
        if(historyPointer < historyList.length -1 ){
            historyPointer++;
            changePage(historyList[historyPointer].pageName,false);
            window.history.replaceState("","",historyList[historyPointer].urlData+("/" + historyList[historyPointer].hashtag) || "");
        }
        else{
            //
        }
    }
    function loginResponse(res){
        if(res["token"] && res["key"] && res["username"]){
            createCookie("X-ACCESS-TOKEN",res["token"],1);
            createCookie("KEY",res["key"],1);
            $(".loginSmall").slideUp(300);
            alert("Wellcome To Hexas");
            getMe();
        }
        else {
            window.location.pathname = "/login";
        }
    }
    function getMeResponse(res){
        Me = res;
        if(res !== null) {
            $(".accountCard").html(`
    	<a href="" id="profileBtn">${res.username}</a>
    	<a href="/getNotifs" id="newPostBtn"></a>
    	<a href="" id="notifBtn"></a>
    `);
        }
    }

    function slideNav(element){
        if (window.innerWidth < 1025) {
            if (element.className === "") {
                if ($(".rightSide")[0]) {
                    $(element).addClass("halfRight");
                    $(".rightSide").addClass("hide");
                    $(".accountCard").css("right","5px");
                }
                else if ($(".leftSide")[0]) {
                    $(element).addClass("halfLeft");
                    $(".leftSide").addClass("hide");
                    $(".accountCard").css("right","5px");
                }
            }
            else if (element.className === "halfLeft") {
                $(element).removeClass("halfLeft");
                $(".leftSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else if (element.className === "halfRight") {
                $(element).removeClass("halfRight");
                $(".rightSide").removeClass("hide");
                $(".accountCard").css("right","100px");
            }
            else {
                //
            }
        }
    }

    function placeProfileInfo(res){

    }

    function updateProfileResponse(res) {

    }

    function loadProfileResponse(res) {
        if (res.message) {
            alert(res.message);
        }
        else if (res.user) {
            var list = $(".profileTop .userInfo").children();
            list[0].innerHTML = (res.user.fullName);
            list[1].innerHTML = (res.user.followingsCount) + " Followings";
            list[2].innerHTML = (res.user.followersCount) + " Followers";
            list[3].innerHTML = (res.user.city) || "";
            list[4].innerHTML = (res.user.roles.toString()) || "";
            list[5].innerHTML = (res.user.username);
            $(".profileTop .loader").addClass("hide");

            if (res.followed !== null && res.following !== null) {
                if (res.followed === true && res.following === false) { // following but not followed --> Follow Back
                    $("#follow").addClass("show");
                    $("#follow").html("Follow Back");
                }
                else if (res.followed === false && res.following === true) { // followed but not following
                    $("#unfollow").addClass("show");
                }
                else if (res.followed === true && res.following === true) { // both following and followed
                    $("#unfollow").addClass("show");
                }
                else { // none
                    $("#follow").addClass("show");
                }
            }
            else {
                $("#unfollow").remove();
                $("#follow").remove();
            }
        }
        else {
            alert("User not found !");
        }
    }

    function followAction(res){
        if(res===true){
            $("#follow").removeClass("show");
            $("#unfollow").addClass("show");
        }
        else{
            alert("Oops Something Went Wrong");
        }
    }
    function unfollowAction(res){
        if(res===true){
            $("#unfollow").removeClass("show");
            $("#follow").addClass("show");
        }
        else{
            alert("Oops Something Went Wrong");
        }
    }

    function alert(message){
        $("#alertTop h3").html(message);
        $("#alertTop").addClass("show");
        setTimeout(function (){
            $("#alertTop").removeClass("show");
            // Something you want delayed.
        }, 3000); // 5seconds show
    }



</script>




</html>